<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="kr/ac/kopo/mybatis/db.properties" />


	<typeAliases>
		<typeAlias type="kr.ac.kopo.vo.BoardVO" alias="BoardVO" />	
		<typeAlias type="kr.ac.kopo.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="kr.ac.kopo.vo.Ice_StockVO" alias="Ice_StockVO" />
		<typeAlias type="kr.ac.kopo.vo.OrderVO" alias="OrderVO" />	
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.user}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	
<!-- sql query xml file mappers -->
	<mappers>
		<mapper resource="common/db/board.xml"/>
		<mapper resource="common/db/member.xml"/>
		<mapper resource="common/db/order.xml"/>
		<mapper resource="common/db/ice_Stock.xml"/>
	</mappers>

</configuration>